@font-face {
    font-family:"Aldine";
    src: url('fonts/aldine.ttf');
}


#navbar{
  position: relative;
  margin-bottom: 10px;
        background-color: #991919;
}

#logo {
    width: 25%;
    height: 25%;
}
  
#navbar a{
    display: inline-block;
    padding: 10px 15px;
    font-size: 1.6rem;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
  }

#navbar a:hover{
    background-color: white;
    color: black;
  }

#navbar ul{
list-style-type:none;
  }

#navbar li{
display: inline;
  }

#signin{
    float:right;
    margin-right: 136px;
    margin-top: 4px;
}

#signin a{
    display: inline-block;
    padding: 10px 15px;
    font-size: 1.6rem;
    color: black;
    text-transform: none;
    text-decoration: none;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.banner{
  position: relative;
  height: 900px; 
  overflow: hidden;
bottom: 10px;
}
.banner-desc{
  position: absolute; 
  z-index: 2;
  width: 100%;
  top:110%;
  transform: translateY(-50%);
  text-align: center;
}

.title-like{
    font-family: "Aldine";
  font-size: 12rem;
}


.about{
  position: relative;
  height: 900px; 
    bottom: 10px;
}

.about-desc{
  position: absolute; 
  z-index: 2;
  width: 100%;
  top:90%;
  transform: translateY(-50%);
  text-align: center;
}

.about-desc h1{
font-family: "Aldine";
  font-size: 12rem;
  line-height: 1;
  color:black;
  margin-bottom: 10px;
}

.banner-desc h1{
font-family: "Aldine";
  font-size: 15rem;
  line-height: 1;
  color:black;
  margin-bottom: 10px;
}
.banner-img{
  position: absolute; 
    width: 1920px; 
  z-index: 0;
  transform: translateX(-50%);
  /* ou margin-left: -960px;  */
  left: 50%; 
  top:0;
}

.banner-img img{
    width: 100vw;
    bottom: 263px;
    position: relative;
}

.banner-img-overlay{
  position: absolute; 
  height: 100%; 
  width: 100%;
  top:0;
  left:0;
  background: rgba(0,0,0,0.23);
  z-index: 1;
}

.CurrentCities h2{
    font-family: "Aldine";
    text-align: center;
    font-size: 8em;
}

.CurrentCities{
    text-align: center;
}

.about-img img{
    width: 20%;
    margin-left: 40%;
}